body {
	font-family: Arial, sans-serif;
    background-color: #f3f0ff;
    font-size: 20px;

}

h1 {
	font-size: 36px;
}
.heading{
    color: blue;
}

h2 {
	font-size: 24px;
}

ul {
	list-style: none;
}

li {
	margin-bottom: 5px;
}

p {
	line-height: 1.5;
}
header {
    background-color: #b197fc;
    padding: 20px;
}
  nav ul {
     list-style: none; 
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0 10px;
}
  
nav a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    gap: 5%;
}
  
nav a:hover {
    color: #333;
}
.irene{
    height: 90vh;
    width: 35%;
    margin-top: 5%;
}
.about{
    margin-left: 40%;
    margin-top: -40%;
}
.see{
        background-color: blue; 
        border: none; 
        color: white;
        padding: 10px 20px; 
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px; 
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 10%;
}
      
      
.see:hover {
        background-color: rgb(119, 119, 168);
      }
.facebook{
    height: 20vh;
    width: 50%;
}      
